{% extends "layouts/layout.twig" %}
{% block page -%}
<div class="row">
    <div class="col-md-12">

    </div>
</div>
<div id="body" class="row">
    <div class="col-md-12">

    </div>
</div>
{% endblock %}
