// -----------------------------------------------------------------------------
// Colors - Main color palette
//
// - Color names: match your color to the color name closest to the color
//                from http://www.w3schools.com/html/html_colornames.asp
// -----------------------------------------------------------------------------

$color-black            : #1d1d1b;//000
$color-white            : #FFF;

$color-red              : #b40000;
$color-secondary-red    : #ac3200;

$color-turquoise        : #2bd5dd;
$color-purple           : #998aae;
$color-teal             : #00a8b0;
$color-orange           : #f26a36;

$color-gray             : #c3c3c2;

$color-green            : #2CD432;