// -----------------------------------------------------------------------------
// Custom mixins
// -----------------------------------------------------------------------------



// Reset list tags 

@mixin no-list-style {
	margin: 0px;
	padding: 0px;
	list-style: none;
}



// Simple transition

@mixin simple-transition($properties: all, $duration: 1s, $function: linear) {
	-webkit-transition: $properties $duration $function;
    -moz-transition: $properties $duration $function;
    -o-transition: $properties $duration $function;
    -ms-transition: $properties $duration $function;	
    transition: $properties $duration $function;
}



// ie7 inline-block fix

@mixin ie7-inline-block {
	.ie7 & {
        zoom: 1;
        display: inline;
    }
}

@mixin ie7-inline-block-small {
	zoom: 1;
    display: inline;
}



// Disable text selection
//
// This property isn't inherited, you have to put this in every child element.
// For IE and Opera, you will need to use:
//                                        <div unselectable="on">...</div>

@mixin make-unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}



// Generate global class list styles

@mixin space-to-padding($name, $value, $styles: all) {
	@if $styles == all {
        .pad#{$name}-top { padding-top: $value !important; }
        .pad-#{$name}-right { padding-right: $value !important; }
        .pad-#{$name}-bottom { padding-bottom: $value !important; }
        .pad-#{$name}-left { padding-left: $value !important; }
    } @else {
        @each $dir in $styles {
            .pad-#{$name}-#{$dir} { padding-#{$dir}: $value !important; }
        }
    }
}

@mixin space-to-margin($name, $value, $styles: all) {
    @if $styles == all {
        .mar-#{$name}-top { margin-top: $value !important; }
        .mar-#{$name}-right { margin-right: $value !important; }
        .mar-#{$name}-bottom { margin-bottom: $value !important; }
        .mar-#{$name}-left { margin-left: $value !important; }
    } @else {
        @each $dir in $styles {
            .mar-#{$name}-#{$dir} { margin-#{$dir}: $value !important; }
        }
    }
}

@mixin page-setup($bodyClass, $color-primary, $right-headline-margin, $strike-width, $strike-height, $strike-top, $strike-left) {

    .#{$bodyClass} {
        header{
            nav{
                ul{
                    li{
                        a{
                            color: $color-primary;
                        }   
                    }
                }
            }
            section{
                article.left{
                    h2{
                        color: $color-primary;
                    }
                    .strikeOut{
                        height: $strike-height;
                        width: $strike-width;
                        top: $strike-top;
                        left: $strike-left;
                    }
                }
                article.right{
                    margin-top: $right-headline-margin;
                }
            }
        }
        section.middle{
           
            background-color: $color-primary;
            
        }
        footer{
            div.footer-wrapper{
                div{
                    article{
                        .headerHolder{
                            h3{
                                color: $color-primary;
                            }
                        }
                        p{
                            span, a{
                                color: $color-primary;
                            }

                        }
                    }
                }
            }
        }
    }
}
