<div class="row">
  <div class="col-md-8">
    <p>
      This site is the frontend of two sites. The home page is a listing of the
      posts written on <a href="http://blog.rath3r.com/">blog.rath3r.com</a>
      which is a simple <a href="https://wordpress.org/">Wordpress</a> site and
      this page is a visual representation of the data held in a
      <a href="http://www.slimframework.com/">Slim</a> application hosted at
      <a href="http://data.rath3r.com/">data.rath3r.com</a>. The code for both
      can be found in two github repositories
      <a href="https://github.com/rath3r/rath3r">rath3r</a> and
      <a href="https://github.com/rath3r/rath3rapi">rath3rapi</a>.
    </p>
  </div>
  <div class="col-md-4 text-center">
    <a id="stackoverflow" href="http://stackoverflow.com/users/439722/rath3r">
      <img src="http://stackoverflow.com/users/flair/439722.png" width="208" height="58" alt="profile for rath3r at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for rath3r at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
    </a>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h3 id="exposureTitle">Development exposure</h3>
    <p>The graph below represents my exposure to and use of various web technologies.</p>
  </div>
</div>
<div class="row">
  <div id="chartHolder" class="col-lg-12">
    <div id="loading">
      <img class="center" src="/images/loading.gif" ng-show="skillsLoader" />
    </div>
    <svg class="chart" width="100%"></svg>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h3>Portfolio</h3>
  </div>
  <div>
    <a href="http://www.phptherightway.com">
      <img src="http://www.phptherightway.com/images/banners/btn1-120x90.png" alt="PHP: The Right Way"/>
    </a>
    <a href="http://jstherightway.org/">
      <img src="/images/js-the-right-way.png" alt="JS: The Right Way" />
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <svg id="be-sites" width="100px"></svg>
  </div>
  <div class="col-md-6">
    <svg id="fe-sites" width="100px"></svg>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div id="loading">
      <img class="center" src="/images/loading.gif" ng-show="sitesLoader" />
    </div>
  </div>
</div>
