{% extends "../layouts/layout.twig" %}

{% block page -%}
<div class="row">
    <div class="col-md-12">
        <h2>About</h2>
        <p>Web Developer or Software Engineer focussed on Web applications.</p>
    </div>
</div>
<div id="body" class="row">

</div>
{% endblock %}
