{# index.twig #}
{% extends "../layouts/layout.twig" %}

{% block page -%}
<div class="row">
    <div class="col-md-12">
        <h2>Animate</h2>
        <p>Stop before hitting the end.</p>
    </div>
</div>
<div id="body" class="row">
    <div class="col-md-2">
        <form>
            <div class="form-group">
                <label for="speed">Speed</label>
                <input type="input" id="speedVal" value="0">
                <input type="range" id="speed" value="0">
            </div>
            <button id="reset" class="btn btn-primary">Reset</button>
        </form>
    </div>
    <div id="canvasHolder" class="col-md-10 text-center">
        <canvas id="canvas"></canvas>
    </div>
</div>
{% endblock %}
