{% extends "../layouts/layout.twig" %}

{% block page -%}
<div class="row">
    <div class="col-md-12">
        <h2>Maps</h2>
        <p>Mapping my cycle to work.</p>
    </div>
</div>
<div id="body" class="row">

</div>
{% endblock %}
