// -----------------------------------------------------------------------------
// Page settings
// -----------------------------------------------------------------------------

html {
    overflow-y: scroll;
    
    .ie7 & {
        overflow-y: auto;
    }
}

body {
    font-family: $font-family-default;
    z-index: 1;
    font-size: $font-size-large;
    line-height: $line-height;
}

html,
body {
    width: 100%;
    height: 100%;
    position: relative;
}

a {
    text-decoration: none;
    
    &:hover {
        //text-decoration: underline;
    }
}

p {
    font-family: $font-family-arial;
    margin-top: 0;
}



// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

h1 {
    font-size: $page-h1-size;
    font-weight: $page-h1-weight;
    font-family: $font-family-BebasNeue;
    margin: 0;
    line-height: 90px;
}

h2 {
    color: $page-h2-color;
    font-size: $page-h2-size;
    font-weight: $page-h2-weight;
    font-family: $font-family-BebasNeue;
    margin: 0;
}

h3 {
    color: $page-h3-color;
    font-size: $page-h3-size;
    font-weight: $page-h3-weight;
    font-family: $font-family-BebasNeue;
    margin: 0;
}

h4 {
    color: $page-h4-color;
    font-size: $page-h4-size;
    font-weight: $page-h4-weight;
    font-family: $font-family-BebasNeue;
    margin: 0;
}

h5 {
    color: $page-h5-color;
    font-size: $page-h5-size;
    font-weight: $page-h5-weight;
}

h6 {
    color: $page-h6-color;
    font-size: $page-h6-size;
    font-weight: $page-h6-weight;
}


// -----------------------------------------------------------------------------
// Global styles - Typography
// -----------------------------------------------------------------------------

// Font size

.font-14 {
    font-size: 14px !important;
}

.font-12 {
    font-size: 12px !important;
}


// Text align

.txt-left {
    text-align: left;
}

.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

.txt-justify {
    text-align: justify;
}

// Font Family

.ff-arial {
    font-family: $font-family-arial;
}

.ff-georgia {
    font-family: $font-family-georgia;
}

// Text color



// -----------------------------------------------------------------------------
// Global styles - Layout
// -----------------------------------------------------------------------------

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.no-margins {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.hide {
    display: none;
}

//@include space-to-padding(tiny, $space-tiny, top bottom);

//@include space-to-margin(tiny, $space-tiny, top bottom);

@include page-setup(home, $color-turquoise, 80px, 130px, 30px, 152px, -5px);

@include page-setup(image, $color-purple, 108px, 95px, 30px, 242px, -5px);

@include page-setup(partnering, $color-teal, 108px, 128px, 30px, 242px, -5px);

@include page-setup(contact, $color-orange, 108px, 163px, 30px, 152px, 163px);
