// -----------------------------------------------------------------------------
// page settings
// -----------------------------------------------------------------------------

$page-width                 : 1020px;


// -----------------------------------------------------------------------------
// Boilerplate variables (do not delete or rename any variable!)
// -----------------------------------------------------------------------------

$line-height               : 1.4 !default;
$font-color                : $color-gray !default;
$invalid-background-color  : #fff3f4 !default;



// -----------------------------------------------------------------------------
// Font - Sizes
// -----------------------------------------------------------------------------

$font-size-default : 16px;   // body 100% = 16px = 1em (do NOT change!)

// Convert font size: px to em
//@function px2em( $v ) { @return percentage($v/$font-size-default); }
@function px2em( $v ) { @return $v; }

$font-size-tiny      : px2em(9px);
$font-size-xsmall    : px2em(10px);
$font-size-small     : px2em(11px);
$font-size-normal    : px2em(12px);
$font-size-xnormal   : px2em(13px);
$font-size-large     : px2em(14px);
$font-size-xlarge    : px2em(15px);
$font-size-main      : px2em(16px);
$font-size-xmain     : px2em(18px);
$font-size-big       : px2em(20px);
$font-size-xbig      : px2em(24px);
$font-size-xxbig     : px2em(28px);
$font-size-huge      : px2em(36px);
$font-size-xhuge     : px2em(42px);
$font-size-xxhuge    : px2em(60px);
$font-size-mega      : px2em(80px);
$font-size-xmega   	 : px2em(100px);
$font-size-massive   : px2em(110px);
$font-size-xmassive  : px2em(120px);



// -----------------------------------------------------------------------------
// Font - Type/family
// -----------------------------------------------------------------------------

// Default font family is "Arial, sans-serif";
// Change settings in -> partials/_fonts.scss



// -----------------------------------------------------------------------------
// Dimensions - Space/padding/margin values settings
// -----------------------------------------------------------------------------

$space-xtiny   : 2px;
$space-tiny    : 5px;
$space-xsmall  : 10px;
$space-small   : 15px;
$space-normal  : 20px;
$space-xnormal : 25px;
$space-large   : 30px;
$space-xlarge  : 35px;
$space-big     : 40px;
$space-xbig    : 45px;
$space-huge    : 50px;
$space-xhuge   : 60px;
$space-mega    : 80px;
$space-xmega   : 100px;
$space-massive    : 110px;
$space-xmassive   : 120px;



// -----------------------------------------------------------------------------
// Layout - Page
// -----------------------------------------------------------------------------



// -----------------------------------------------------------------------------
// Layout - Lines
// -----------------------------------------------------------------------------



// -----------------------------------------------------------------------------
// Layout - Headings
// -----------------------------------------------------------------------------

$page-h1-color  : $color-turquoise;
$page-h1-size   : $font-size-massive;
$page-h1-weight : normal;

$page-h2-color  : $color-black;
$page-h2-size   : $font-size-xxbig;
$page-h2-weight : normal;

$page-h3-color  : $color-black;
$page-h3-size   : $font-size-xxbig;
$page-h3-weight : normal;

$page-h4-color  : $color-black;
$page-h4-size   : $font-size-xbig;
$page-h4-weight : normal;

$page-h5-color  : $color-black;
$page-h5-size   : $font-size-xmain;
$page-h5-weight : normal;

$page-h6-color  : $color-black;
$page-h6-size   : $font-size-xlarge;
$page-h6-weight : normal;



// -----------------------------------------------------------------------------
// Layout - Form field (input text, textarea, ...)
// -----------------------------------------------------------------------------

$form-field-color    : $color-black;
$form-field-bg       : $color-white;
$form-field-border   : 1px solid $color-black;

$form-required-color : $color-black;



// -----------------------------------------------------------------------------
// Layout - Form buttons (input submit, button, ...)
// -----------------------------------------------------------------------------

$button-color        : $color-white;
$button-bg           : $color-black;
$button-border       : none;
$button-font-weight  : normal;

$button-color-hover  : $color-white;
$button-bg-hover     : $color-black;
$button-border-hover : none;
