// -----------------------------------------------------------------------------
// Image sprites
// -----------------------------------------------------------------------------

@import "compass/utilities/sprites/base";



// Main sprite config

$mainsprite: sprite-map("sprites/base/*.png",
    $layout: smart
);

@media only screen {
	
    .sprite {
        background-image: sprite-url($mainsprite);
        background-repeat: no-repeat;
    }

    .icon {
        display: inline-block;
        @include ie7-inline-block;
    }

    @include sprites($mainsprite, logo eye camera doc theatre dl-home about-home contact-home dl-image about-image contact-image dl-partnering about-partnering contact-partnering dl-contact about-contact contact-contact, ".sprite", true, "sprite");
    
}



// -----------------------------------------------------------------------------
// Compass sprites - How to
// -----------------------------------------------------------------------------
//
// Sprite setting
// more - http://compass-style.org/reference/compass/helpers/sprites/#sprite-map
//
// $testsprite: sprite-map("sprites/testsprite/*.png",
//     $position: 0%,
//     $spacing: 5px,
//     $repeat: no-repeat,
//     $calculator-position: 100%,
//     $calculator-spacing: 30px,
//     $camera-repeat: repeat
// );
//
// Class with sprite as a background image
//
// .sprite-testsprite {
//     background: sprite-url($testsprite) no-repeat;
// }
//
// Create class for each image from the sprite/array
//
// @include sprites($testsprite, calculator camera clock email, ".sprite-testsprite", true, "testsprite");
//
// Hover example
//
// Automatic hovers - http://compass-style.org/help/tutorials/spriting/ section - Magic Selectors
//     name.png
//     name_hover.png
//
// Manual method
//
// .testHover {
//     @extend .sprite-testsprite;
//     @include sprite($testsprite, contacts, true);
//
//     &:hover {
//         @include sprite-background-position($testsprite, contacts-gray);
//     }
// }
//
// -----------------------------------------------------------------------------
//
// Usage example
//
// $base-sprite: sprite-map("sprites/base/*.png",
//     $position: 0%,
//     $spacing: 5px,
//     $repeat: no-repeat
// );
//
// @media only screen {
//
//     .sprite-base {
//         background: sprite-url($base-sprite) no-repeat;
//     }
//
//     @include sprites($base-sprite, home arrow-left-big arrow-right-big home-angel ssga-footer play-video play-audio, ".sprite-base", true, "sprite-base");
// }
//
// -----------------------------------------------------------------------------